{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}} - {{ curcat.name }}{% endblock %}

{% block categorylist %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false"
       title="{{ 'tooltip.catlist'|trans }}">
      {{ 'category'|trans }}
      <span class="caret"></span>
    </a>
      <ul class="dropdown-menu" aria-labelledby="dropCatList" role="menu">
      {% for cat in catlist %}
        <li {% if cat.id == curcat.id %}aria-checked="true" class="active"
        {%else%}aria-checked="false"{% endif %} role="menuitem">
          <a href="{{ path('category', {'name': cat.name})}}">
            {{ cat.name }}
            <form class="form-horizontal pull-right" method="POST">
              <span class="btn-group" role="group">
                <button type="submit" class="btn btn-default btn-xs"
                        formaction="{{ path('editcat', {'id': cat.id})}}" 
                        title="{{'tooltip.editcat'|trans}}">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="submit" class="btn btn-default btn-xs"
                        formaction="{{ path('delcat', {'id': cat.id})}}"
                        title="{{'tooltip.delcat'|trans}}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </span>
            </form>
          </a>
        </li>
      {% endfor %}
      </ul>
  </li>
  <li>
    <a href="{{ path('newcat') }}" title="{{ 'tooltip.newcat'|trans}}">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{ 'tooltip.newcat'|trans }}
    </a>
  </li>
  <li>
    <a href="{{ path('newlink', {'id': curcat.id}) }}"
       title="{{ 'tooltip.newlink'|trans}}">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{ 'tooltip.newlink'|trans }}
    </a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body %}
  <div class="container-fluid" role="main">
    {% if app.session.started and app.session.flashBag.peekAll is not empty %}
      <div class="messages">
        {% for type, messages in app.session.flashBag.all %}
          {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
              <button type="button" class="close" data-dismiss="alert"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message|trans }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <ul class="nav nav-pills nav-stacked">
        {% for link in linklist %}
          <li role="presentation">
            <a href="{{ link.uri }}" class="ovfl" target="_blank">
              {{ link.name }}
              <form class="form-horizontal pull-right" method="POST">
                <span class="btn-group" role="group">
                  <button type="submit" class="btn btn-default btn-xs"
                          formaction="{{ path('editlink', {'id': link.id})}}" 
                          title="{{'tooltip.editlink'|trans}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button type="submit" class="btn btn-default btn-xs"
                          formaction="{{ path('dellink', {'id': link.id})}}"
                          title="{{'tooltip.dellink'|trans}}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </span>
              </form>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}