{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}} - {{ 'tooltip.dellink'|trans}}{% endblock %}

{% block body %}
<div class="container-fluid" role="main">
  <h2>{{ 'tooltip.delcat'|trans }} - {{ lnk.name }}</h2>
  <div class="row padding8">
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-warning"></i>
      {{ 'dellink.msg'|trans({'%name%': lnk.name}) }}
    </div>
{{ form_start(form) }}
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-danger">
            {{ 'btn.del'|trans }}
          </button>
          <a href="{{ path('categorybase') }}" class="btn btn-default">
            {{ 'btn.cancel'|trans }}
          </a>
        </div>
      </div>
{{ form_end(form) }}
  </div>
</div>
{% endblock %}