{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}} - {{ 'tooltip.newlink'|trans}}{% endblock %}

{% block body %}
<div class="container-fluid" role="main">
  <h2>{{ 'new.link'|trans }} - {{ cat.name }}</h2>
{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.uri) }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        {{ 'btn.add'|trans }}
      </button>
      <a href="{{ path('categorybase') }}" class="btn btn-default">
        {{ 'btn.cancel'|trans }}
      </a>
    </div>
  </div>
{{ form_end(form) }}
</div>
{% endblock %}