<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'app.title'|trans}}{% endblock %}</title>
    {% block stylesheets %}
    {% stylesheets filter='cssrewrite' output='css/linxlist.css'
      '@bootstrap_css'
      'css/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% stylesheets output='css/font_awesome.css'
      '@font_awesome'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
  </head>
  <body role="document">
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ path('homepage') }}" class="navbar-brand">
            <i class="fa fa-home" aria-hidden="true"></i>LinxList
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block categorylist %}{% endblock %}
          <ul class="nav navbar-nav navbar-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ app.user.username }}
                <span class="caret"></span>
              </a>
                <ul class="dropdown-menu" aria-labelledby="dropUserMenu">
                {% if is_granted('ROLE_ADMIN') %}
                  <li>
                    <a href="{{ path('admin_index') }}">
                      <i class="fa fa-unlock" aria-hidden="true"></i>
                      {{ 'menu.admin'|trans }}
                    </a>
                  </li>
                {% endif %}
                  <li>
                    <a href="{{ path('security_logout') }}">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                      {{ 'menu.logout'|trans }}
                    </a>
                  </li>
                </ul>
            </li>
            {% else %}
            <li>
              <a href="{{ path('security_login') }}">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                {{ 'menu.login'|trans }}
              </a>
            </li>
{#            <li><a href="{{ path('user_registration') }}">
                {{ 'menu.register'|trans }}</a>
            </li>#}
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block javascripts %}
    {% javascripts output='js/linxlist.js'
      '@jquery'
      '@bootstrap_js'
      'js/main.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
  </body>
</html>
