{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}}{% endblock %}

{% block body %}
  <div class="container-fluid" role="main">
    {% if app.session.started and app.session.flashBag.peekAll is not empty %}
      <div class="messages">
        {% for type, messages in app.session.flashBag.all %}
          {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message|trans }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="jumbotron">
      <h1>
        {{ 'msg.welcome'|trans }}
      </h1>
      <div>
        <p>{{ 'msg.welcome2'|trans }}</p>
        <p>
          <a href="{{ path('security_login') }}" class="btn btn-primary btn-lg"
             role="button">
            {{ 'login.btn.login'|trans }}
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}