{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}} - {{ 'menu.admin'|trans }}{% endblock %}

{% block body %}
  <div class="container-fluid" role="main">
    {% if app.session.started and app.session.flashBag.peekAll is not empty %}
      <div class="messages">
        {% for type, messages in app.session.flashBag.all %}
          {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message|trans }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col-sm-1">
        <a href="{{ path('user_registration') }}" class="btn btn-default"
           title="{{ 'tooltip.useradd'|trans }}">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="panel">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'admin.table.username'|trans }}</th>
            <th>{{ 'admin.table.roles'|trans }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>
                {% for role in user.roles %}
                  <span>
                    {{ role }}
                  </span>
                {% endfor %}
              </td>
              <td>
                <a href="" class="btn btn-xs btn-default"
                   title="{{ 'tooltip.edituser'|trans }}">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a href="" class="btn btn-xs btn-danger"
                   title="{{ 'tooltip.deluser'|trans }}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}