/*
Copyright (C) 2017 The Art Of Soft

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 1 févr. 2017, 23:19:51
    Author     : cylgalad

    Don't forget to dump changes with assetic:
    php bin/console assetic:dump
*/

/* padding-top is necessary for the bootstrap top navbar */
body {
  padding-top: 60px;
  background-color: #dcdcdc;
}

a,
a:hover,
a:focus {
  color: #555555;
}

/* Overflow correctly */
.ovfl {
  overflow: auto;
  overflow-wrap: break-word;
}

/* Adding a little margin */
.padding8 {
  padding-left: 8px;
  padding-right: 8px;
}

.nav li {
  padding-top: 2px;
}

.nav .nav-header {
  padding: 2px;
  padding-left: 4px;
  font-size: 14px;
  color: #ff9900;
}

.list-group-item {
  background-color: #fcfcfc;
}

#catpaneltitle,
#catpaneltitle:hover,
#catpaneltitle:focus {
  font-size: 16px;
  color: #ff9900;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top, #d37e00 0%, #cc7222 100%);
  background-image:      -o-linear-gradient(top, #d37e00 0%, #cc7222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d37e00), to(#cc7222));
  background-image:         linear-gradient(to bottom, #d37e00 0%, #cc7222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d37e00', endColorstr='#cc7222', GradientType=0)
}