{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title'|trans}} - {{ 'menu.login'|trans}}{% endblock %}

{% block body %}
<div class="container-fluid" role="main">
{% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form class="form-horizontal" action="{{ path('security_login') }}" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">
        {{ 'login.username'|trans }}
      </label>
      <div class="input-group margin-bottom-sm" >
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input type="text" id="username" name="_username" placeholder="{{ 'login.ph.username'|trans}}" value="{{ last_username }}">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">
        {{ 'login.password'|trans }}
      </label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" id="password" name="_password" placeholder="{{ 'login.ph.password'|trans}}">
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{{ 'login.btn.login'|trans }}</button>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <input type="checkbox" id="remember_me" name="_remember_me" checked>
        <label for="remember_me">{{ 'login.remember_me'|trans }}</label>
      </div>
    </div>
</form>
</div>
{% endblock %}