{% extends 'base.html.twig' %}

{% block title %}
  {{ 'app.title'|trans}} - {{ 'menu.register'|trans}}
{% endblock %}

{% block body %}
<div class="container-fluid" role="main">
{{ form_start(form) }}
  {{ form_row(form.username) }}
  {{ form_row(form.email) }}
  {{ form_row(form.plainPassword.first) }}
  {{ form_row(form.plainPassword.second) }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        {{ 'reg.btn.register'|trans }}
      </button>
      <a href="{{ path('admin_index') }}" class="btn btn-default">
        {{ 'btn.cancel'|trans }}
      </a>
    </div>
  </div>
{{ form_end(form) }}
</div>
{% endblock %}